.article-container {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.article-image {
  width: 45%;
}

@media screen and (max-width: 800px) {
  .article-container {
    flex-direction: column;
  }
  .article-image {
    width: 100%;
  }
}